<script>
    import { onMount } from 'svelte'
    import SplitPane from './SplitPane.svelte';
    import CodeMirror from './CodeMirror.svelte';
    // import {scripts} from './scripts.js';
    import Grapher from './Grapher.svelte'
    // import Tabs from './Tabs.svelte'
    import Tabs2 from './Tabs.svelte'
    import Neo4j from './Neo4j.svelte'
    import Fullscreener from './Fullscreener.svelte'
    import Switcher from './Switcher.svelte'
    import Jsonviewer from './Jsonviewer.svelte'
    import Objectviewer from './Objectviewer.svelte'
    import Recordviewer from './Recordviewer.svelte'

    let dbUrl = 'bolt://localhost:7687'
    let driver 
    let session 

    let js_editor;
    let cypher_editor;
    let hovernode
    let clicknode
    
    let neo4jElement
    let dbUrlElement
    let grapherElement
    let tabsElement
    let switcherElement
    let recordviewerElement

    var DATA
    // var DATA.RECORDS
    var JS_RESULT
    var SHOW 
    
 
    function changeDbUrl(params) {
        let url = prompt("Enter db url", dbUrl)
        if (!url) return
        dbUrl = url
    }

    function runCypher(){
        show("DATA.RECORDS")
        neo4jElement.run(cypher_editor.getValue())//,()=>{ /*showCypherResult()*/ })
    }

    function runJavascript(){
        try{
            eval( js_editor.getValue())
            //!!!!!!!!!!!!!1 magic
            JS_RESULT = JS_RESULT
            // show("JS_RESULT")
        } catch(err) {
            console.warn('Err:', err)  
        }
    }


    function show(what) {
        SHOW = what
        switcherElement.state = what
    }

    function run() {
        neo4jElement.run(cypher_editor.getValue(),()=>{
            runJavascript()
            show("GRAPH")
        })
    }

    // Layout logic ****************************************************

    function resizeGrapher() {
        if(grapherElement) 
            grapherElement.containerOnResize('split')
    }

    function editorOnChange(){
        var data = {
            javascript: js_editor.getValue(),
            cypher: cypher_editor.getValue(),
        }
        tabsElement.setSelectedTabData(data)
    }

    function getSelectedTabData(){
        if (!tabsElement) 
            return

        var jsText = ""
        var cpText = ""

        var data = tabsElement.getSelectedTabData()
        if (data && typeof data === "object") {
            jsText = data.javascript
            cpText = data.cypher
        }

        cypher_editor.set(cpText,'cypher')
        js_editor.set(jsText,'js')
    }

    function onSwitcherState(e){
        SHOW = e.detail
    }

    onMount(()=>{        
        // resizeGrapher()
    })



</script>

<style>
    /* @import url(//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic); */
    @import url(//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css);
    /* @import url(//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css); */
    /* @import url(//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css); */

    :global(html, body) {
        box-sizing: border-box ;
        padding: 0 ;
        margin:0 ;
    } 

    .app {
        width:100%;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 0px calc(100vh - 32px) 32px;
    }   
    
    .app * {
        box-sizing: border-box !important;
    }

    footer {
        background-color: rgb(65, 163, 255);
        height: 100%;
        display: grid;
        grid-template-columns: repeat(20,max-content);
        grid-column-gap: 10px;
        align-items: center;
        padding: 0;
    }

    footer, footer * {
        color:white;
    }
 
	.split-container-page {
		width: 100%;
		height: 100%;
        display: grid;
        /* grid-template-rows: 60px 30px 1fr; */
        grid-template-rows: 48px 1fr;
    }
    
	.slot-left {
		width: 100%;
		height: 100%;
        border-right : 1px solid silver;
        display: none;
	}


    .slot {
		width: 100%;
		height: 100%;
        position: relative;
        /* border-top: 1px solid silver; */
    }

    .editors {
        border-right: 1px solid silver;
    }

    .topborder {
        border-top: 1px solid rgba(192, 192, 192, 0.507);
    }

    .hidden {
        display: none;
    }
    

    
</style>

<div class="app">
    <Neo4j bind:this={neo4jElement}   bind:result={DATA}  {dbUrl}  />
    <!-- bind:records={DATA.RECORDS} -->
    <header></header>
	<div class="split-container">
		<SplitPane type="horizontal" pos={0} fixed on:change={resizeGrapher} > 
			<section slot="a" class="slot hidden slot-left"></section>
            <section slot=b class="split-container-page">
                
                <Tabs2 bind:this={tabsElement} on:select={getSelectedTabData}/>
               
                <SplitPane type="horizontal" pos={30} on:change={resizeGrapher} > 
                   <section slot="a" class="slot editors topborder">
                        <SplitPane type="vertical" pos={40} on:change={resizeGrapher}> 
                            <section slot="a"  class="slot" >
                                <CodeMirror  bind:this={cypher_editor} mode="cypher" on:change={editorOnChange} /> 
                                <Fullscreener on:run={runCypher} on:toggle={ ()=> {if (cypher_editor) cypher_editor.focus() } }/>                                    
                            </section>
                            <div slot="b" class="slot" >
                               <CodeMirror   bind:this={js_editor} mode="js" on:change={editorOnChange}/>
                               <Fullscreener on:run={runJavascript} on:toggle={ ()=> {if (js_editor) js_editor.focus() } }/>                         
                            </div>
                        </SplitPane>                 
                    </section>
                    <section slot="b" class="slot topborder" >
                        <Switcher bind:this={switcherElement} on:state={onSwitcherState} labels={ ['DATA', 'DATA.RECORDS', 'JS_RESULT', 'GRAPH'] }/>



                        <Jsonviewer   hidden={SHOW!='DATA'} json={DATA} />
                        <Recordviewer hidden={SHOW!='DATA.RECORDS'} records={ DATA ? DATA.records : null } bind:this={recordviewerElement}/>
                        <Jsonviewer   hidden={SHOW!='JS_RESULT'}  json={JS_RESULT} />
                        <Grapher      hidden={SHOW!='GRAPH'}  
                            bind:this={grapherElement} 
                            graphData={JS_RESULT} 
                            bind:clicknode={clicknode}
                            bind:hovernode={hovernode}
                            />
                        <Objectviewer hidden={SHOW!='GRAPH'} json={clicknode} top left opacity={0.3}/>
                        <!-- <Objectviewer hidden={SHOW!='GRAPH'} json={hovernode} bottom right /> -->
                        
                        <Fullscreener on:run={()=> run()} on:toggle={resizeGrapher}/>
                    </section>
                </SplitPane>
                
            </section>
		</SplitPane>
	</div>
    <footer>
        <a href style="font-size:20px; padding-left:5px;" on:click|preventDefault={changeDbUrl}>⚙</a>
        <a href bind:this={dbUrlElement} on:click|preventDefault={changeDbUrl}>db: {dbUrl}</a>
    </footer>
</div>
