<script context="module">
	let _CodeMirror = CodeMirror;
</script>

<script>
    import { onMount, beforeUpdate, createEventDispatcher, getContext } from 'svelte'
    // import Fullscreener from './Fullscreener.svelte'

	const dispatch = createEventDispatcher();

	export let readonly = false;
	export let errorLoc = null;
	export let flex = false;
	export let lineNumbers = true;
	export let tab = true;

	let w;
	let h;
	let code = '';
	export let mode;

	// We have to expose set and update methods, rather
	// than making this state-driven through props,
	// because it's difficult to update an editor
	// without resetting scroll otherwise
	export async function set(new_code, new_mode) {
		if (new_mode !== mode) {
			await createEditor(mode = new_mode);
		}

		code = new_code;
		updating_externally = true;
		if (editor) editor.setValue(code);
		updating_externally = false;
	}

	export function update(new_code) {
		code = new_code;

		if (editor) {
			const { left, top } = editor.getScrollInfo();
			editor.setValue(code = new_code);
			editor.scrollTo(left, top);
		}
	}

	export function resize() {
		editor.refresh()
	}

	export function focus() {
		editor.focus()
		editor.scrollIntoView()
	}

	const modes = {
		js: {
			name: 'javascript',
			json: false,
 		
//    mode:  "javascript",
			// extraKeys: {'Ctrl-Space':'autocomplete'},
			// autoRefresh:true,
			// autoCloseBrackets: true,
			// matchBrackets: true,
			// tabSize:2,
			// theme: "dracula",
		},
		json: {
			name: 'javascript',
			json: true
		},
		cypher: {
			name: 'cypher'
		}
	};

	const refs = {};
	let editor;
	let updating_externally = false;
	let marker;
	let error_line;
	let destroyed = false;
	let CodeMirror;

	$: if (editor && w && h) {
		editor.refresh();
	}

	$: {
		if (marker) marker.clear();

		if (errorLoc) {
			const line = errorLoc.line - 1;
			const ch = errorLoc.column;

			marker = editor.markText({ line, ch }, { line, ch: ch + 1 }, {
				className: 'error-loc'
			});

			error_line = line;
		} else {
			error_line = null;
		}
	}

	let previous_error_line;
	$: if (editor) {
		if (previous_error_line != null) {
			editor.removeLineClass(previous_error_line, 'wrap', 'error-line')
		}

		if (error_line && (error_line !== previous_error_line)) {
			editor.addLineClass(error_line, 'wrap', 'error-line');
			previous_error_line = error_line;
		}
	}

	onMount(() => {
        CodeMirror = _CodeMirror;
        createEditor(mode || 'js').then(() => {
            if (editor) editor.setValue(code || '');
        });
		return () => {
			destroyed = true;
			if (editor) editor.toTextArea();
		}
	});

	let first = true;

	async function createEditor(mode) {
		if (destroyed || !CodeMirror) return;

		if (editor) editor.toTextArea();

		const opts = {
			lineNumbers: true,
			lineWrapping: true,
			indentWithTabs: false,
			// indentUnit: 2,
			tabSize: 2,
			value: '',
			mode: modes[mode] || {
				name: mode
			},
			readOnly: readonly,
			autoCloseBrackets: true,
			autoCloseTags: true,

            extraKeys: {
                'Ctrl-Space':'autocomplete',
				'Ctrl-/': 'toggleComment',
				'Cmd-/': 'toggleComment',
				"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); },
                // "F11": function(cm) {
                //     cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                //     },
                // "Esc": function(cm) {
                //     if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                //     },               
                },
			// autoRefresh:true,
			matchBrackets: true,
			theme: mode=='js'? "one-dark":'eclipse',

			// extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
			foldGutter: true,
			gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],	

		};

		if (!tab) opts.extraKeys = {
			Tab: tab,
			'Shift-Tab': tab
		};

		// Creating a text editor is a lot of work, so we yield
		// the main thread for a moment. This helps reduce jank
		if (first) await sleep(50);

		if (destroyed) return;

		editor = CodeMirror.fromTextArea(refs.editor, opts);

		editor.on('change', instance => {
			if (!updating_externally) {
				const value = instance.getValue();
				dispatch('change', { value });
			}
		});

		if (first) await sleep(50);
		editor.refresh();

		first = false;
	}

	function sleep(ms) {
		return new Promise(fulfil => setTimeout(fulfil, ms));
    }
    
    export function getValue() {
        return editor.getDoc().getValue()
    }

</script>

<style>
 @import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono&display=swap'); 
 
 .codemirror-container {
		position: absolute;
		width: 100%;
		height: calc(100% - 35px);
		border: none;
        top:35px;
        /* 
		bottom:0;
        left:0;
        right:0; 
		*/
		overflow: hidden;
        /* border-top: 1px solid rgba(192, 192, 192, 0.212); */
        /* border-bottom: 1px solid silver; */
		border-top: 1px solid rgba(192, 192, 192, 0.507);
		border-bottom: 1px solid rgba(192, 192, 192, 0.507);
	}

	.codemirror-container :global(.CodeMirror) {
		height: 100%;
        /* width:calc(100%-10px); */
		/* background: transparent; */
		/* font: 400 14px/1.7 var(--font-mono); */
		font: 400 14px/1.3 'Roboto Mono';
		/* color: var(--base); */
	}
	
	.codemirror-container.flex :global(.CodeMirror) {
		height: auto;
	}

	.codemirror-container.flex :global(.CodeMirror-lines) {
		padding: 0;
	}

	.codemirror-container :global(.CodeMirror-gutters) {
		padding: 0 16px 0 8px;
		border: none;
	}

	.codemirror-container :global(.error-loc) {
		position: relative;
		border-bottom: 2px solid #da106e;
	}

	.codemirror-container :global(.error-line) {
		/* background-color: rgba(200, 0, 0, .05); */
	}

	textarea {
		visibility: hidden;
	}

	pre {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: none;
		padding: 4px 4px 4px 60px;
		resize: none;
		font-family: var(--font-mono);
		font-size: 13px;
		line-height: 1.7;
		user-select: none;
		pointer-events: none;
		color: #ccc;
		tab-size: 2;
		-moz-tab-size: 2;
	}

	.flex pre {
		padding: 0 0 0 4px;
		height: auto;
	} 
</style>

<div class='codemirror-container' class:flex bind:offsetWidth={w} bind:offsetHeight={h}>
	<!-- svelte-ignore a11y-positive-tabindex -->
	<textarea
		tabindex='2'
		bind:this={refs.editor}
		readonly
		value={code}
	></textarea>
    
	{#if !CodeMirror}
		<pre style="position: absolute; left: 0; top: 0"
		>{code}</pre>
	{/if}

   
</div>