<script>
    import { createEventDispatcher,onMount } from 'svelte'

    const dispatch = createEventDispatcher()


    export let norun

    let isFullscreen = false
    let containerElement
    let fullscreenElement
    let runElement
    let parentEl

    $: showHideElement(norun, runElement)


    function showHideElement(show, el) {
        if (!el) return

        if (norun) 
            el.classList.add('hidden') 
        else 
            el.classList.remove('hidden')        
    }

    onMount(()=>{  
        parentEl = containerElement.parentElement
        parentEl.addEventListener('keyup', onKeyup)
        // showHideElement(norun, runElement) 
    })

    function onKeyup(event) {
        event.preventDefault()
        if (event.code == "Escape") {
            toggelFullscreen()
        }
    }


    export function getParent(){
        return containerElement.parentElement
    }


    function windowOnResize() {
        // console.log("windowOnResize")
        dispatch('toggle', isFullscreen )
    }


    function moveEverything(fromElement, toElement) {
        var node 
        while (node = fromElement.firstChild) {
            toElement.appendChild(node)
        }       
    }

    export function toggelFullscreen() {

        isFullscreen = ! isFullscreen

        if (isFullscreen){
            fullscreenElement =  document.createElement('div')
            fullscreenElement.classList.add("fullscreen-container-sv")
            document.body.appendChild(fullscreenElement)
            moveEverything(parentEl, fullscreenElement)
            
            fullscreenElement.addEventListener('keyup', onKeyup)
            window.addEventListener('resize', windowOnResize)
            windowOnResize()
        } else {
            fullscreenElement.removeEventListener('keyup', onKeyup)
            window.removeEventListener('resize', windowOnResize)
            
            moveEverything(fullscreenElement, parentEl)
            document.body.removeChild(fullscreenElement)
            fullscreenElement = null
        }
        dispatch('toggle', isFullscreen )
    }

</script>

<style>

    .fullscreen-container {
        color: silver;
        /* opacity: 0.5; */
        font-size: 1.2em;
        position: absolute;
        top:5px;
        right:16px;
        z-index: 10;
        /* border: 1px solid silver; */
    }

    .fullscreen-container > a {
        color: silver;
        text-decoration: none;
        margin-left: 10px;
    }


    .hidden {
        display: none;
    }

    :global(.fullscreen-container-sv) {
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        /* background-color: rgba(255, 0, 0, 0.294); */
        background-color: white;
    }


    
</style>

<span class="fullscreen-container" bind:this={containerElement}>
    <span class="hidden"></span>
    <a href bind:this={runElement} title="run" on:click|preventDefault={()=> dispatch('run')}>▷</a>
    <a href title="toggle fullscreen" on:click|preventDefault={toggelFullscreen}>◱</a>
    <!-- &#x2922; -->
</span>