<svelte:options accessors/>
<script>
    import ForceGraph3D from '3d-force-graph';
    // import * as THREE from 'three';
    import { Color, Fog, FogExp2 } from 'three'
    // import { FogExp2 } from 'three'
    import { onMount } from 'svelte'
    // import { createEventDispatcher } from 'svelte'
    // const dispatch = createEventDispatcher()

    export let graphData
    export let hidden
    export let hovernode
    export let clicknode

    let graphContainerElement
    let graphElement
    var myGraph

    $:  showGraph(graphData)

    onMount(()=>{  
        window.addEventListener('resize', containerOnResize)
        if (graphData) showGraph(graphData)  
        containerOnResize()    
    })

// + JSON.stringify(n,null,2)
    export var getLabel = (n) =>  `
        <b>${n.labels.toString()}</b> ${n.properties.id}<br>
        ${n.properties.title? n.properties.title +'<br>': ''}
        ${n.properties.author? '<b>Автор</b> '+n.properties.author+'<br>' : '' }
        ${n.properties.text? n.properties.text+'<br>' : '' }
        `
    

    export function showGraph(data) {
            var gData ={nodes:[],links:[]}
            //check input
            if (!data) {
                console.warn("No data")
            } else  if (!data.nodes) {
                console.warn("No data.nodes")
            }else if (!data.links) {
                console.warn("No gData.links")
            } else {
                gData = data
            }            

            if (!graphElement) {
                console.warn("No graphElement")
                return
            }

            // do the job
            myGraph = ForceGraph3D()
            let sc = myGraph.scene()
            // console.log("sc.background=", sc.background)
            const color = 0xDDDDDD;
            const density = 0.004;
            // sc.background = new Color('#EEE')
            sc.fog = new FogExp2(color, density);
            // sc.fog = new Fog(color, 100,800);
            resizeGraph(graphContainerElement)
            myGraph(graphElement)
            myGraph.graphData(gData)
            myGraph.nodeAutoColorBy('id')
            myGraph.nodeLabel(node => `<span class="node-label">`+ getLabel(node) + `</span>`)
            myGraph.onNodeHover(n => {  
                let o=stripThreeFields(n); 
                hovernode=o;  
                // dispatch('hover',o); 
            })
            myGraph.onNodeClick(n => {
                let o=stripThreeFields(n); 
                clicknode=o;  
                // dispatch('hover',o); 
            })
            myGraph.nodeOpacity(1.0)
            myGraph.nodeResolution( 10 )
            myGraph.linkOpacity(0.4)
            myGraph.linkColor(()=> '#444444')
            // myGraph.backgroundColor('slategrey')
            myGraph.backgroundColor('whitesmoke')
            myGraph.linkWidth(0.2)
            // myGraph.linkCurvature(0.1)
    }
    
    function stripThreeFields(o) {
        if (!o) return o
        let oo = JSON.parse(JSON.stringify(o))
        
        delete oo['__threeObj']
        delete oo['color']
        delete oo['index']
        delete oo['x']
        delete oo['y']
        delete oo['z']
        delete oo['vx']
        delete oo['vy']
        delete oo['vz']
        return oo
    }


    function resizeGraph(parent) {
        // console.log("resizeGraph", parent)
        if (!graphElement) return
        if (!parent) return
        // graphElement.classList.add("hidden")
        if (myGraph){
            // console.log("parent.scrollWidth=",parent.scrollWidth)
            myGraph.width(parent.offsetWidth)
            myGraph.height(parent.offsetHeight)
        
        }
        // graphElement.classList.remove("hidden")
    }



    export function containerOnResize(e) {
        resizeGraph(graphContainerElement)
    }


 
</script>

<style>
    :global(.node-label) {
        font-family: Roboto Mono, monospace;
        color:black;
        /* background-color: rgba(255, 255, 255, 0.5); */
        padding:5px;
        border-radius: 10px;
        font-size: 90%;
        /* white-space: pre; */
        display: block;
        max-width: 350px;
        max-height: 250px;
        overflow: hidden;
        opacity: 0.6;
        pointer-events: none;
    }
    .grapher-container { 
		width: 100%;
		height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        position: absolute;
        color: slategrey
        /* background-color: green; */
    }
    .graph {
        background-color: gray;
        overflow: hidden;
        position: absolute;
        top:0;
        left:0;
    }

    .hidden {
        display: none;
    }

</style>


<div bind:this={graphContainerElement} class="grapher-container" class:hidden >
    <div bind:this={graphElement} class="graph" ></div>zzz
    <div class="hidden">abc</div>
</div>
