<script>

    // import neo4j_v1 from 'neo4j-driver'
    // import Integer from 'neo4j-driver/lib/v1/integer.js'
    // import {Node} from 'neo4j-driver/lib/v1/graph-types.js'
    // import {types} from 'neo4j-driver/lib/v1/index.js'

    // import JSONFormatter from "json-formatter-js"
    // import Jsonviewer from "./Jsonviewer.svelte";

    export let records = [];
    export let hidden;

    let formatter;
    let tree;
    let fields = [];
    let treeContainer;

    $: {
        fields = records && records[0] ? records[0].keys : [];
    }

    /*
    types: 
    {"Node": *,
    "Relationship": *,
    "UnboundRelationship": *,
    "PathSegment": *,
    "Path": *,
    "Result": *,
    "ResultSummary": *,
    "Record": *,
    "Point": *,
    "Date": *,
    "DateTime": *,
    "Duration": *,
    "LocalDateTime": *,
    "LocalTime": *,
    "Time": *
    }
    */

    // function toReadableText(e) {
    //     if (e == null){
    //         return "null"
    //     } else if (typeof e === 'string' || e instanceof String ) {
    //         return `<div class='rv-string'>${e.toString()}</div>`
    //     } else if (typeof e === 'number' || e instanceof Number) {
    //         return `<div class='rv-number'>${e.toNumber()}</div>`
    //     } else if (typeof e === 'boolean' || e instanceof Boolean) {
    //         return `<div class='rv-boolean'>${e.toString()}</div>`
    //     } else if (typeof e === 'array' || e instanceof Array) {
    //         return "Array: "+e.toString()
    //     } else if (e instanceof Map) {
    //         return "Map: "+e.toString()
    //     } else if (e instanceof types.Integer) {
    //         return `<div class='rv-integer'>${e.toNumber()}</div>`
    //     } else if (e instanceof types.Node) {
    //         return `<div class='rv-node'>${e.toString()}</div>`
    //     } else if (e instanceof Object) {
    //         console.log(JSON.stringify(e, null, 4))
    //         return `<div class='rv-object'>${JSON.stringify(e, null, 2)}</div>`
    //     } else {
    //         return "e: "+e.toString()
    //     }
    // }

    // export function removeNeo4jTypes(e) {
    //     if (typeof e === 'array' || e instanceof Array) {
    //         return e.map(ee => removeNeo4jTypes(ee))
    //     // } else if (e instanceof Map) {
    //     //     return "Map: "+e.toString()
    //     } else if (e instanceof types.Integer) {
    //         return e.toNumber()
    //     // } else if (e instanceof types.Node) {
    //     //     return `<div class='rv-node'>${e.toString()}</div>`
    //     } else if (e instanceof Object) {
    //         let ee = {}
    //         Object.keys(e).forEach(function(key, ind) {
    //             ee[key] = removeNeo4jTypes(e[key])
    //         })
    //         return ee
    //     } else {
    //         return e // sanitize(e)
    //     }
    // }

    // function sanitize(e) {
    //     return JSON.parse(JSON.stringify(e))
    // }

    function serialize(e){
        // let o = removeNeo4jTypes(e)
        let o = (e)
        if (o instanceof Object) {
            return `<div class='rv-object resize pre'>${JSON.stringify(o, null, 2)}</div>`
        } else {
            return `<div class='rv-object'>${o}</div>`
        }
    }


</script>

<style>
    /* :global(.json-formatter-row) {
      font-family: Roboto Mono, monospace !important;
    } */

    .recordviewer-container {
        width: 100%;
        height: 100%;
        padding: 40px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .table-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 35px;
        border-top: 1px solid rgba(192, 192, 192, 0.212);
        overflow: auto;
    }

    .hidden {
        display: none;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }


    td {
        border-bottom: 1px solid rgba(192, 192, 192, 0.651);
        /* border-right: 1px solid rgba(192, 192, 192, 0.219); */
        /* padding: 10px; */
        vertical-align: top;
    }

    th {
      border-bottom: 1px solid silver;
    }

    :global(.vresize) {
        overflow: auto;
        resize: vertical;
    }
    :global(.hresize) {
        overflow: auto;
        resize: horizontal;
    }
    :global(.resize) {
        overflow: auto;
        resize: both;
    }
     

    :global(.rv-object) {
        font-family: Roboto Mono, monospace;
        font-size: 0.8rem;
        white-space: pre-wrap;
        overflow: auto;
        /* display: block; */
        /* max-height: 150px; */
        /* background-color: whitesmoke; */
        /* height: auto; */
        /* max-height: 100%; */
        padding: 10px;
        /* height: 100%; */
        position: relative;
    }

    :global(.pre) {
        /* white-space: pre !important; */
        background-color: whitesmoke;
        width: 1fr;
        max-height: auto;
        max-width: auto;
        /* border-right: 1px solid silver; */
        /* border-bottom: 1px solid silver; */

    }

    /* 
    :global(.rv-integer) {
        color: red;
    }
    :global(.rv-number) {
        color: red;
        font-weight: bold;
    }
    :global(.rv-boolean) {
        color: darkmagenta;
    }
    :global(.rv-string) {
        color: green;
    } */


    .json-cont > * {
        padding: 0 !important;
    }

    .h-resizable {
       font-family: Roboto Mono, monospace;
        font-size: 0.8rem;
        overflow: auto;
        /* background-color: whitesmoke; */
        resize: horizontal;
        padding: 10px;
        
     }

    .grid {
        display: grid;
        grid-gap: 5px;
        /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
        grid-auto-rows: 100px;     
    }

</style>

<div class="recordviewer-container" class:hidden>
    <div bind:this={treeContainer} class="table-container">
    <!-- style="grid-template-columns: repeat({fields.length}, minmax(auto, 1fr));" -->
<!--   
                {#each fields as f}
                    <div class="h-resizable">{f}</div>                      
                {/each}

        {#if records}
            {#each records as record}
                {#each fields as f,ind}
                      <div>{@html serialize(record.get(f)) }</div>
                {/each}
            {/each}
        {/if}
-->


        
        <table cellspacing="0" cellpadding="5">
            <thead>
                <tr>
                  {#each fields as f}
                    <th>
                      <div class="h-resizable">
                      {f}
                      </div>                      
                    </th>
                  {/each}
                </tr>
            </thead>
            <tbody>
                {#if records}
                  {#each records as record}
                    <tr>
                      {#each fields as f,ind}
                        <td>
                            <!-- {@html serialize(record.get(f)) } -->
                            {@html serialize(record._fields[ind]) }
                        </td>
                      {/each}
                    </tr>
                  {/each}
                {/if}
            </tbody>

        </table>
      

    </div>
</div>
