<svelte:options accessors/>
<script>
    // import { onMount } from 'svelte'
    const dispatch = createEventDispatcher()
    import { createEventDispatcher } from 'svelte'

    export let state = ''
    export let labels = ['A', 'B', 'C']

    function switchTo(st) {
        state = st
        console.log("state=", state)
        dispatch('state', state)
    }



    // onMount(()=>{  
        // switchTo('GRAPH')
    // })

</script>

<style>

    .switcher-container {
        font-size: 0.9em;
        position: absolute;
        top: 8px;
        /* left:4px; */
        margin: auto;
        z-index: 10;
        font-family: Roboto, sans-serif;
        width: 100%;
        text-align: center;
        /* font-weight: bold; */
        
    }

    .switcher-container  a {
        color: gray;
        opacity: 0.4;
        margin-left: 15px;
    }

    .active {
        opacity: 1.0 !important;
        /* text-decoration: underline; */
        /* transition-duration: 500ms; */
    }
    
</style>

<div class="switcher-container">

{#each labels as s}
    <a href  class:active={ state==s } on:click|preventDefault={ ()=> switchTo(s) } >{s}</a>
{/each}

</div>