<script>
import {createEventDispatcher,onMount} from 'svelte'



let tabs = new Map()
let activeTabName = ""
let activeTabData = null
let fileChooserElement



const dispatch = createEventDispatcher()


// $: {
//     tabNames = Array.from(tabs.keys())
//     console.log("tabs changed")
// }


// let defaultTab = {
//     tabName: "auth-proxy",
//     url:"https://auth-proxy.rg.ru/schema",
//     scheme: null
// }


export function setSelectedTabData(data){
    setTabData(activeTabName, data)
}

export function getSelectedTabData() {
    return activeTabData
}


function setTabData(tabName, data) {
    if (!tabName) 
        return
    tabs.set(tabName, data)
    setLocalStorageItem(tabName, data) 
}


function addTab(tabName, data) {
    if (!tabName) 
        return
    tabs.set(tabName, data)
    setLocalStorageItem(tabName, data) 
    activateTab(tabName)
}


function setLocalStorageItem(tabName, data) {
    var dataStr = JSON.stringify(data, null, 2)
    localStorage.setItem(tabName, dataStr)    
}


function getLocalStorageItem(tabName) {
    let str = localStorage.getItem(tabName)
    let value = null
    try {
        value = JSON.parse(str)
    } catch (e){}
    return value
}


function getTabsFromLocalStorage() {
    let tbs =new Map()
    let keys = Object.keys(localStorage)
    keys.sort()
    for (let key of keys) {
        if (!key) continue
        let value = getLocalStorageItem(key)
        tbs.set(key,value)
    }
    activateFirstTab(tbs)
    // refreshing
    tabs = tbs
    dispatch('select', {activeTabName, activeTabData})
}


function activateFirstTab(tbs) {
    if (tbs){
        let {value,done} = tbs.entries().next()
        if (!done)
            [activeTabName, activeTabData] = value
        else
            [activeTabName, activeTabData] = ["",null]
    }  else {
        [activeTabName, activeTabData] = ["",null]
    }  
}


function addNewTab(){
    let tabName = prompt("Enter a new tab name","new")
    if (!tabName) return
    while (tabs.has(tabName)){
        tabName = prompt(`"${tabName}" already exists. Please try again.`,tabName)
        if (!tabName) return
    }
    addTab(tabName, null)
}

function activateTab(name) {
    if (! tabs.has(name)) return
    activeTabName = name
    activeTabData = tabs.get(name)
    dispatch('select', {activeTabName, activeTabData})
}


function deleteTabByName(tabName) {
    // let tabData = localStorage.getItem(tabName)
    // let tabData = activeTabData
    let tabData = getLocalStorageItem(tabName)
    localStorage.removeItem(tabName)
    tabs.delete(tabName)
    if (tabName == activeTabName){
        activateFirstTab(tabs)
        dispatch('select', {activeTabName, activeTabData})
    }

    tabs = tabs
    return tabData
}


// IMPORT EXPORT ****************************************************************************************

function exportTab() {
    // var dataStr = activeTabData? JSON.stringify(activeTabData, null, 2) : ""

    var tabsData={}
    for (let [k,v] of tabs.entries()) {
        tabsData[k]=v
    }
    var tabsDataStr = JSON.stringify(tabsData, null, 2)


    var bb = new Blob([tabsDataStr], { type: 'text/plain' });
    var a = document.createElement('a');
    a.download = 'tabs'+'.json';
    a.href = window.URL.createObjectURL(bb);
    a.click();    
}

function importTab(){
    // document.getElementById('fileChooser').click()
    fileChooserElement.click()
}

var reader
function openFile(event) {
    var input = event.target;
    reader = new FileReader();
    reader.onload = function(){
        getTabsFromText(reader.result)
    }
    reader.readAsText(input.files[0])
}

// getTabsFromData creates a tab from erlier exported data
function getTabsFromText(dataStr) {
    var tabsData = null
    try {
        tabsData = JSON.parse(dataStr)
    } catch(e){}

    if (!tabsData) return

    let tbs = new Map()
    localStorage.clear()
    for (let tabName in tabsData) {
        if (!tabName) continue
        let data = tabsData[tabName]
        tbs.set(tabName,data)  
        setLocalStorageItem(tabName, data)      
    }
    activateFirstTab(tbs)
    // refreshing
    tabs = tbs
    dispatch('select', {activeTabName, activeTabData})
}


// events ******************************************************************************

function renameTab(){
    let newTabName = activeTabName
    while (tabs.has( newTabName)){
        newTabName = prompt(`Rename "${newTabName}"`,newTabName)
        if (!newTabName) return
    }
    let data = deleteTabByName(activeTabName)
    addTab(newTabName, data)

    getTabsFromLocalStorage()
    setTimeout(()=> activateTab(newTabName),100)
}


function tabOnClick(e) {
    activateTab( this.getAttribute("data-tabName"))
}


function tabOnDelete() {
    deleteTabByName(this.getAttribute('data-tabName')) 
}


onMount(async () => {
    getTabsFromLocalStorage()
})


</script>

<style>
    .outer {
        /* border-bottom: 1px solid silver; */
    }

    .tabs-container {
        font-size: 14px;
        margin: 10px 0 0 5px;
        /* background-color: rgba(122, 122, 122, 0.137); */
        /* background-color: black; */
        /* background-image: linear-gradient(to right, whitesmoke, transparent, transparent); */
        /* border-bottom:1px solid silver; */
        border-image-source: linear-gradient(to right, silver, transparent);
        border-image-slice: 1;
        height: calc((max-content)-5px);
        /* margin-bottom:30px; */
    }
    
    .back {
        border-top: 1px solid silver;
        /* position: absolute;
        top:0;
        left:0;
        right:0;
        height: 23px; */
        position: relative;
        top:-1px;
        z-index: -1;
    }

    .tab {
        margin: 0;
        display: inline-block;
        padding: 4px 4px 2px 20px;
        cursor: default;
    
        /* color: steelblue; */
        color: gray;
        /* border-radius: 3px 3px 0 0; */
        border:1px solid transparent;
        border-top-width: 1px;

        /* top: 1px;*/
        position: relative; 
        height: 19px;
    }

    .tab:hover .x {
        visibility: visible;
    }


    .active {
        background-color: white;
         

        border-top-color: #E10098;
        border-bottom-color: white;   

        border-left-color: silver;
        border-right-color: silver;

        color: black;
        }


    .active:hover .tabmenu {
        opacity: 1.0;
    }


    .active .x {
        color: #E10098;
        visibility: visible;
    }

    .x {
        padding:0 3px 0 3px;
        /* font-size: 90%; */
        margin-left:3px;
        color: gray;
        visibility: hidden;
    }
    .x:hover {
        color: #E10098;
    }

    .button-tiny {
        padding: 0 3px 0 3px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: transparent;
        color: #E10098;
        cursor: pointer;
        border-radius: 20px;
    }
    .button-tiny:hover {
        border: 1px solid #E10098;
    }

    .tabmenu {
        position: absolute;
        top: 25px;
        width: 100%;
        left:-1px;
        text-align: center;
        display:none;
        word-wrap: none;
        white-space: nowrap;
        opacity: 0.0;
        transition: 0.3s;
        padding-top:6px;
        padding-bottom:4px;
        z-index: 10;
        background-color: white;
        border:1px solid silver;
        border-top-width: 0;
        /* box-sizing: border-box; */
        margin:0;
    }
    .active .tabmenu {
        display: block;
    }

</style>

<div class="outer">
    <div class="tabs-container">
        {#each Array.from(tabs.keys()) as name}
            <span class="tab" class:active={name == activeTabName} data-tabName={name} on:click={tabOnClick}> {name} 
                <span class="x" title="delete {name} tab" data-tabName={name} on:click={tabOnDelete}>&#xd7;</span>

                <div class="tabmenu">
                    <input type="button" class="button-tiny" title="Rename {activeTabName} tab" value="rename" on:click={renameTab}>
                    <!-- <input type="button" class="button-tiny" title="Save {activeTabName} to a file" value="export" on:click={exportTab}> -->
                </div>

            </span>
        {/each}

        <span title="Add a new tab" class="button-tiny" style="font-weight:bold;" on:click={addNewTab}>&nbsp;&nbsp;&nbsp; &#xFF0B; &nbsp;&nbsp;&nbsp;</span>
        <span style="float:right;">
            <!-- <span class="button-tiny" title="Rename tab" on:click={renameTab}>ren</span> -->
            <span title="Import tab from a file" class="button-tiny" on:click={importTab}>imp</span>
            <span class="button-tiny" title="Save  to a file" on:click={exportTab}>exp</span>
            <!-- <span class="button-tiny" title="Save  to a file" >{tabNames}</span> -->
        </span>

        <!-- &#8624; -->
        <input id="fileChooser" bind:this={fileChooserElement}  type='file' style="display:none" on:change={openFile} >
        <div class="back"></div>
    </div> 
</div>
<!-- &#x21ca; &#x21c8; &#x2297; &#8628; -->